{%extends "layout.html" %}
{% block content %}

<div class="content-section">
  <div class="media">
    <div class="media-body">
      <h2 class="account-heading">{{ current_user.username }}</h2>
      <p class="text-secondary">{{ current_user.email }}</p>
      <h4 class="text-secondary">{{ current_user.role }}</h4>
      {% if current_user.role == "student" %}
        <p class="text-secondary">Roll Number     :{{ current_user.roll_number }}</p>
        <p class="text-secondary">Phone Number    :{{ current_user.phone_number }}</p>
        <p class="text-secondary">Faculty Advisor :{{ current_user.facad }}</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}